body {
    font-family: 'Orbitron';
    font-size: 22px;
    background-color: black;
}

div.fullscreen {
    text-transform: full-width;
    text-align: left;
    font-size: 15px;
    position: relative;
    color: grey;
    letter-spacing: 2px;
}

div.a {
    text-transform: full-width;
    text-align: center;
    font-size: 150px;
    position: relative;
    color: grey;
    letter-spacing: 2px;
}

div.line {
    line-height: 80%;
}

div.invis {
    text-transform: full-width;
    text-align: center;
    font-size: 150px;
    position: relative;
    color: black;
    letter-spacing: 2px;
}